


<body>

  <table>
    <tr *ngFor="let item of items">
      <td>{{item.username}}</td>
      <!-- really ugly code but i didn't want to invest a big part of the time in html/angular since i haven't used html in a long time and have never touched angular before and was focusing on the functionality -->
      <td>&nbsp;&nbsp;&nbsp;&nbsp;{{item.itemname}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;{{item.price}}</td>
      <button (click)="deleteItemButton(item.id)"> delete this Item</button>

    </tr>
    <td>sum of Items:</td>
    <td></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{itemSum.sum}}</td>
  </table>



  <div>
    <label>
      <input [(ngModel)]="item.username" placeholder="username"/>
    </label>
    <label>
      <input [(ngModel)]="item.itemname" placeholder="item"/>
    </label>
    <label>
      <input type="number"[(ngModel)]="item.price" placeholder="price"/>
    </label>
    <button (click)="onAddItemButtonClick()"> add item to shopping list</button>
  </div>
</body>



