<body>

  <table>
    <tr *ngFor="let item of items">
      <label>
        <input [(ngModel)]="item.username" placeholder=item.username/>
      </label>
      <label>
        <input [(ngModel)]="item.itemname" placeholder=item.itemname/>
      </label>
      <label>
        <input type="number"[(ngModel)]="item.price" placeholder=item.price/>
      </label>
      <button (click)="editItemButton(item)"> Edit this item</button>
      <button (click)="deleteItemButton(item.id)"> delete this Item</button>

    </tr>
    sum of items: &nbsp;&nbsp;&nbsp;{{itemSum.sum}}

  </table>


  <div>
    <label>
      <input [(ngModel)]="item.username" placeholder="username"/>
    </label>
    <label>
      <input [(ngModel)]="item.itemname" placeholder="item"/>
    </label>
    <label>
      <input type="number"[(ngModel)]="item.price" placeholder="price"/>
    </label>
    <button (click)="onAddItemButtonClick()"> add item to shopping list</button>
  </div>
</body>



