


<body>

  <table>
    <tr *ngFor="let item of items">
      <td>{{item.username}}</td>
      <td>{{item.itemname}}</td>
      <td>{{item.price}}</td>
      <button (click)="deleteItemButton(item.id)"> delete this Item</button>
    </tr>
  </table>


  <div>
    <label>
      <input [(ngModel)]="item.username" placeholder="username"/>
    </label>
    <label>
      <input [(ngModel)]="item.itemname" placeholder="item"/>
    </label>
    <label>
      <input type="number"[(ngModel)]="item.price" placeholder="price"/>
    </label>
    <button (click)="onAddItemButtonClick()"> add item to shopping list</button>
  </div>
</body>



